<div class="forgetMyPassword-container">
    <div class="form-container">
      <div class="px-5 py-5 ">
        <div class="form-img">
          <img src="../../../assets/images/Towercap logo.svg">
        </div>
        <div class="form">
          <div class="msg">RESET PASSWORD</div>
          <form class="login-form" [formGroup]="resetPassword" (ngSubmit)="onSubmit()">
            <div class="py-1">
              <mat-label>Enter New Password <span>*</span></mat-label><br>
              <input matInput placeholder="Enter Password" type="password" class="password" formControlName="password">
              <mat-error *ngIf="(isSubmitted || this.resetPassword.controls['password'].touched) && this.resetPassword.controls['password'].errors?.['required']">
                password is required.
              </mat-error>
              <mat-error *ngIf="(isSubmitted || this.resetPassword.controls['password'].touched) && this.resetPassword.controls['password'].errors?.['minlength']">
                Password must be at least 6 characters long.
              </mat-error>
            </div>
            <div class="py-1">
                <mat-label>Confirm  New Password <span>*</span></mat-label><br>
                <input matInput placeholder="Enter Password" type="password" class="confirmPassword" formControlName="confirmPassword">
                <mat-error *ngIf="(isSubmitted || this.resetPassword.controls['confirmPassword'].touched) && this.resetPassword.controls['confirmPassword'].errors?.['required']">
                   Confirm Password is required.
                </mat-error>
                <mat-error *ngIf="(isSubmitted || this.resetPassword.controls['confirmPassword'].touched) && this.resetPassword.controls['confirmPassword'].errors?.['MustMatch']">
                 Confirm password doesn't match
                </mat-error>
              </div>
           <div class="text-center">
            <button mat-raised-button color="primary" class="login-button" [disabled]="resetPassword.invalid">Log In</button>
           </div>
          </form>
        </div>
      </div>
    </div>
  </div>