.forgetMyPassword-container {
    text-align: center;
    background: #ededed;
    mat-error{
      display: block;
    }
  
    .form-container {
      width: 50%;
      height: 100vh;
      margin: auto;
      h2 {
        margin-bottom: 6px;
      }
      h3{
        font-weight: 500;
      }
  
  
      .form-img {
        border-bottom: 2px solid #66B3BB;
  
        img {
          width: 215px;
          height: 138px;
        }
      }
      .form {
        padding: 2rem 0;
        .form-links {
          margin: 1rem 0 0 0;
          color: #66B3BB;
  
          a {
            color: #66B3BB;
          }
  
        }
  
        .login-button {
          padding: 22px 125px;
          border-radius: 12px;
          font-size: 16px;
          background-color: #38527D;
  
        }
      }
  
      mat-label {
        font-size: 16px;
      }
    }
  }
  input {
    border: 2px solid #66B3BB;
    border-radius: 10px;
    width: 78%;
    padding: 7px;
    margin: 8px 0;
  }
  input:focus {
    border: 2px solid #66B3BB;
  }
  input::placeholder {
    text-align: center;
  }
  @media (max-width: 767px) {
    .forgetMyPassword-container{
    
      .form-container {
        .msg{
          padding: 6px;
          font-size: 15px;
        }
        width: 75%;
      }
      .form{
        .login-form{
          .login-button {   
             padding: 14px 27px;
            font-size: 14px;
          }
        }
      }
      input{
        width: 80%;
        padding: 5px;
      }
    }

 
}

@media (min-width: 768px) and (max-width: 1023px) {
.forgetMyPassword-container{

  .form-container {
    width: 60%;
    .msg{
      padding: 6px;
      font-size: 15px;
    }
    .form{
      .login-form{
        .login-button {
          padding: 14px 27px;
          font-size: 14px;
        }
      }
    }
  }
  input {
    padding: 5px;
    width: 60%;
  }
}
}