<div class="forgetMyPassword-container">
    <div class="form-container">
      <div class="px-5 py-5 ">
        <div class="form-img">
          <img src="../../../assets/images/Towercap logo.svg">
        </div>
        <div class="form">
          <h2 class="heading">RESET PASSWORD</h2>
          <h3>Please Provide Your Registered Email Address</h3>
          <form class="login-form" [formGroup]="forgetPassword" (ngSubmit)="sendVerCode()">
            <div>
              <mat-label> Registered Email Address <span>*</span></mat-label><br>
              <input matInput placeholder="Enter email" type="email" class="email" formControlName="email">
              <mat-error *ngIf="(isSubmitted || this.forgetPassword.controls['email'].touched) && this.forgetPassword.controls['email'].errors?.['required']">
                Email is required.
              </mat-error>
              <mat-error *ngIf="(isSubmitted || this.forgetPassword.controls['email'].touched) && this.forgetPassword.controls['email'].errors?.['email']">
                Invalid email format.
              </mat-error>
            </div>  
            <button mat-raised-button color="primary" class="login-button" [disabled]="forgetPassword.invalid">Send Verification code</button>
            <div class="form-links">
              <a href="#">I Forget My Email</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>