<div class="forgetMyPassword-container">
    <div class="form-container">
      <div class="px-5 py-5 ">
        <div class="form-img">
          <img src="../../../assets/images/Towercap logo.svg">
        </div>
        <div class="form">
          <div class="msg">RESET PASSWORD</div>
          <h2 class="heading">Check Your Email To Continue</h2>
          <h4>We've Send An Email To User@Company</h4>
          <form class="login-form"  [formGroup]="forgetPassword2" (ngSubmit)="sendVerCode()">
            <div>
              <mat-label>Enter The Verification Code</mat-label><br>
              <input matInput placeholder="Enter code" type="number"  class="verCode" formControlName="verCode">
              <mat-error *ngIf="(isSubmitted || this.forgetPassword2.controls['verCode'].touched) && this.forgetPassword2.controls['verCode'].errors?.['required']">
                Verification code is required.
              </mat-error>
              <mat-error *ngIf="(isSubmitted || this.forgetPassword2.controls['verCode'].touched) && this.forgetPassword2.controls['verCode'].errors?.['verCode']">
               Verification Code is inCorrect
              </mat-error>
            </div>
            <div>
              <p>Can't Find The Email?  Make Sure To Check Your Spam Folder</p>
            </div>
            <button mat-raised-button color="primary" class="login-button" [disabled]="forgetPassword2.invalid">CONTINUE</button>
          </form>
        </div>
      </div>
    </div>
  </div>