<div class="client-container">
    <div class="form-container">
      <div class="px-5 ">
        <div class="form-img">
          <img src="../../../assets/images/Towercap logo.svg">
        </div>
        <div class="form">
          <div class="msg">CREATE NEW PROFILE</div>
          <form class="login-form"  [formGroup]="ClientRegistration" (ngSubmit)="onSubmit()">
            <div class="py-1">
              <mat-label>Provide Your Full Name And Surname <span>*</span></mat-label><br>
              <input matInput placeholder="Enter text" type="text" class="name" formControlName="name">
              <mat-error *ngIf="(isSubmitted || this.ClientRegistration.controls['name'].touched) && this.ClientRegistration.controls['name'].errors?.['required']">
                Name is required.
              </mat-error>
            </div>
            <div class="py-1">
                <mat-label>Provide Your Email Address<span>*</span></mat-label><br>
                <input matInput placeholder="User@company.com" type="email" class="email" formControlName="email">
                <mat-error *ngIf="(isSubmitted || this.ClientRegistration.controls['email'].touched) && this.ClientRegistration.controls['email'].errors?.['required']">
                  Email is required.
                </mat-error>
                <mat-error *ngIf="(isSubmitted || this.ClientRegistration.controls['email'].touched) && this.ClientRegistration.controls['email'].errors?.['email']">
                  Invalid email format.
                </mat-error>
              </div>
              <div class="py-1">
                <mat-label>Create a Password <span>*</span></mat-label><br>
                <input matInput placeholder="Enter password" type="password" class="password" formControlName="password">
                <mat-error *ngIf="(isSubmitted || this.ClientRegistration.controls['password'].touched) && this.ClientRegistration.controls['password'].errors?.['required']">
                  password is required.
                </mat-error>
                <mat-error *ngIf="(isSubmitted || this.ClientRegistration.controls['password'].touched) && this.ClientRegistration.controls['password'].errors?.['minlength']">
                  Password must be at least 6 characters long.
                </mat-error>
              </div>
              <div class="py-1">
                <mat-label>Confirm Your Password <span>*</span></mat-label><br>
                <input matInput placeholder="Enter Password" type="password" class="confirmPassword" formControlName="confirmPassword">
                <mat-error *ngIf="(isSubmitted || this.ClientRegistration.controls['confirmPassword'].touched) && this.ClientRegistration.controls['confirmPassword'].errors?.['required']">
                  Confirm Password is required.
               </mat-error>
               <mat-error *ngIf="(isSubmitted || this.ClientRegistration.controls['confirmPassword'].touched) && this.ClientRegistration.controls['confirmPassword'].errors?.['MustMatch']">
                Confirm password doesn't match
               </mat-error>
              </div>
           <div class="text-center">
            <button mat-raised-button color="primary" class="login-button" [disabled]="ClientRegistration.invalid">REGISTER</button>
           </div>
          </form>
        </div>
      </div>
    </div>
  </div>